/* responsive CSS for about section */

/* Desktop */
.about-container {
  /* border: 1px solid red; */
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  padding: 20px;
  max-height: 90vh;
}

.about-left {
  display: grid;
  /* border: 1px solid green; */
  align-items: center;
  justify-content: center;
  align-content: center;
}

.about-right {
  display: grid;
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
  align-content: center;
}

.about-length-btns {
  display: center;
}

.about-left-top {
  /* background-color: aqua; */
}

.about-right-top {
  /* background-color: beige; */
}
.about-right-bottom {
  display: grid;
  justify-content: center;
}

img {
  max-width: 100%;
}

.icon-social {
  color: #565c68;
  font-size: 2rem;
  margin: 10px;
}

.bio-section {
  display: center;
  justify-content: center;
}

/* Mobile */
@media (max-width: 500px) {
  .about-container {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }

  .about-length-btns {
    justify-content: center;
  }
  .about-right {
  }
}

/* Wide Screen */
@media (min-width: 1025px) {
  .container-fluid {
    max-width: 80vw;
  }
}

/* Wide Screen */
@media (min-width: 1400px) {
  .container-fluid {
    max-width: 60vw;
    max-height: 90vh;
  }
}
