body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profile-pic {
  max-height: 75%;
  /* border: 1px solid red; */
}

.badge {
  cursor: pointer;
}

.cert-container {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  max-height: 100px;
}

.section-title {
  display: flex;
  justify-content: center;
}

/* .card-img-top {
  border: 1px red solid;
  max-width: 50%;
  max-height: 50%;
} */

.bio-section {
  /* border: 1px solid red; */
}

.about-content {
  height: 100%;
  /* border: 1px solid red; */
}
